body {
  background: #fffffe;
  font-family: sans-serif;
}

h1 {
  color: #020826;
}

h2 {
  margin-top: auto;
  margin-bottom: auto;
}

select {
  background: #eaddcf;
  border: 2px solid #020826;
  border-radius: 8px;
  color: #020826;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.container {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  margin: 60px auto;
  max-width: 600px;
  padding: 20px 30px;
}

.city {
  background: #eaddcf;
  border-radius: 8px;
  margin-top: 10px;
  opacity: 0.8;
  padding: 10px;
}

.city:last-child {
  margin-bottom: 10px;
}

.city-name {
  color: #020826;
}

.city-time,
.city-date {
  color: #716040;
}

.city-date {
  font-size: 14px;
}

.city-time {
  color: #020826;
  font-size: 36px;
  font-weight: bold;
}

.name-time {
  display: flex;
  justify-content: space-between;
}

small {
  font-size: 20px;
}

a {
  color: #f25042;
}

footer {
  color: #020826;
  font-size: 14px;
  opacity: 0.7;
  text-align: center;
}
